<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title or 'BCH' }} </title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block links %}{% endblock %}
</head>
<body>
    <header class="header">
    	<a href="{{url_for('index')}}" class="header__link">Главная</a>
        <a href="{{url_for('login')}}" class="header__link">Вход</a>
    	<a href="{{url_for('registration')}}" class="header__link">Регистрация</a>
    </header>
    <main class="main">
    	{% block content %}
    	{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>