.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: #fff;
}

.card__big-action {
    width: 80%;
    line-height: 50px;
    background-color: #222;
    margin: 30px auto;
    text-align: center;
    color: #fff;
    cursor: pointer;
}