.card_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 300px;
	min-height: 400px;
	background-color: #d6f9f4;
	border-radius: 10px;
}

.card__header {
	height: 60px;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.not_flex {
	display: block;
}

.card__header_text {
	width: 100%;
}

.card__icon {
	height: 60px;
	width: 60px;
	background-color: #fff;
	border: 1px solid #222;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
}

.card__form {
	margin-bottom: 80px;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card__input {
	margin-bottom: 30px;
}

.card__input_title {
	font-size: 25px;
	width: 100%;
	line-height: 40px;
}

.card__input-i {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #222;
	font-size: 20px;
	outline: none;
}

.card__select {
	width: 80%;
	margin: auto;
	display: block;
	font-size: 18px;
	margin-bottom: 40px;
}

.card__action {
	display: block;
	width: 60%;
	margin: auto;
	border: 1px solid #222;
	cursor: pointer;
	line-height: 40px;
	font-size: 18px;
	border-radius: 10px;
	margin-bottom: 40px;
}