* {
	margin: 0;
	padding: 0;
}

.header {
	height: 10vh;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}

.header__link {
	width: 150px;
	height: 6vh;
	border-radius: 10px;
	border: 5px double #222;
	color: #000;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin-right: 20px;
}

.main {
	height: 90vh;
	background-color: #CCC;
}