* {
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__link {
    line-height: 8vh;
    width: 120px;
    border: 2px double #222;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: #222;
}

.content {
    min-height: 90vh;
    background-color: #ececec;
}