{% extends 'base/card.html' %}

{% block title %}CheckIn{% endblock %}

{% block card_title %}Check in{% endblock %}

{% set inputs=[
	{"title": "Name:", "name": "name"},
	{"title": "Email:", "name": "email"}]
%}

{% block card_body %}
<form action="#" id="checkInForm">
    {% for input in inputs %}
		<div class="card-form__field">
			<label class="card-form__label" for="{{ input.name }}"> {{ input.title }} </label>
			<input class="card-form__input" type="text" name="{{ input.name }}" maxlength="70" required="required"/>
		</div>
	{% endfor %}
</form>
<button class="card__action" id="cardAction">Регистрация</button>
{% endblock %}

{% block scripts %}
<script>
var form = document.querySelector('#checkInForm');
var bth = document.querySelector('#cardAction');

bth.addEventListener('click', function() {
	var inputs = form.querySelectorAll('input');
	var text={};

	for (var i = 0; i < inputs.length; i++) {
		text[inputs[i].name] = inputs[i].value
	}

	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/todo/api/check_in', true);
	xhr.setRequestHeader("Content-type", "application/json");

	xhr.send(JSON.stringify(text));

	xhr.onreadystatechange = function () {
		if (xhr.readyState != 4) return;

		if (xhr.status == 200) {
			var data = JSON.parse(xhr.responseText);

			if (data.data = 'OK') {
				document.location.href = "{{ url_for('my_keys') }}"
			}
		}
	}
});

</script>
{% endblock %}