{% extends 'base/base.html' %}

{% block content %}
    <h1>Справка</h1>
    <p><small>На данной странице ращмещена информация о данносм ресуре</small></p>
    <br>
    <br>
    <h1>Страницы</h1>
    <h2>Главная</h2>
    <p>На главной странице пользователь может проверить свой баланс, а так же перевести деньги другому пользователю</p>
    <br>
    <br>
    <h2>Регистрация</h2>
    <p>В данном разделе есть возможность регистрации</p>
    <p>которая подразумевает под собой выбор роли в сети</p>
    <h2>Вход</h2>
    <p>Система подразумевает под собой вход в сеть</p>
    <p>Внутри происходит проверка введенных данных</p>
    <p><small>Если пользователь уже вошел, вместо данной кнопки появляется выход</small></p>
{% endblock %}