{% extends 'base/card.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/keys') }}">
{% endblock %}

{% set title = 'keys' %}

{% block card %}
<h1>Ваши ключи</h1>
<h2>Внимание! Запишите их себе и не показывайте, т.к. с их помощью будет производится авторизация в ваш кошелек</h2>
<h2>В случае потери ключей вход будет невозможен!!!!</h2>
<h2>Ключи должны быть записаны в определенном порядке</h2>
<h1>Публичный ключ:</h1>
<ul>
    <li>{{ public.n }}</li>
    <li>{{ public.e }}</li>
</ul>
<h1>Приватный ключ:</h1>
<ul>
    <li> {{ private.n }}</li>
    <li> {{ private.e }}</li>
    <li> {{ private.d }}</li>
    <li> {{ private.p }}</li>
    <li> {{ private.q }}</li>
</ul>
{% endblock %}