{% extends 'base/card.html' %}

{% set title = 'Keys' %}

{% set liner_styles = 'width: 60vw' %}

{% block form %}
<header class="card__header not_flex">
	<p class="card__header_text">Запишите себе эти ключи, они будут нужны для дальнейшего входа</p>
	<p class="card__header_text">В случае потери ключей получить доступ к аккаунту будет невозможно!</p>
</header>
<div class="card__form">
	<h2 class="card__title">Публичный ключ:</h2>
	<ul>
		{% for el in keys_user.public_key %}
		<li>{{keys_user.public_key[el]}}</li>
		{% endfor %}
	</ul>
	<h2 class="card__title">Приватный ключ:</h2>
	<ul>
		{% for el in keys_user.private_key %}
		<li>{{keys_user.private_key[el]}}</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}